.secao_categorias {
  width: 100%;
  max-width: 1024px;
}

.container_botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px dotted goldenrod;
  padding: 8px;
  background: #f0f0f0;
  border-radius: 14px;
}

.container_botoes button {
  padding: 8px 0px;
  flex: 1 0 120px; /*largura dos botões: pode crescer se houver espaço, pode encolher se necessário, valor do tamanho inicial*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  border-radius: 14px;
}

.container_botoes button:hover,
.container_botoes button:focus{
  background-color: goldenrod;
}

.icone {
  width: 20px;
  height: auto;
}

.acenderBtn {
  background-color: goldenrod; /* Cor de fundo do botão quando ativo */
  color: blue; /* Cor do texto do botão quando ativo */
  box-shadow: 0 2px 8px rgba(26,115,232,0.10);
}
.apagarBtn {
  background: #f0f0f0;
  color: #333;
}